.row{
    background-color: hsl(185, 75%, 39%);
    height: 600px;
    width: 100%;
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: -100px -300px, 600px 300px;
    background-size: 600px 600px, 600px 600px;
    position: relative;
    top: 60%;
    transform: translateY(20px);
    
}

.profile{
    background-color: white;
    height: 320px;
    border-radius: 15px;
    width: 300px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform: translate(-50%,-50%);
    box-shadow: 4px 4px 6px #888888;
}

.background{
    border-radius: 15px 15px 0px 0px;
    background-position: top;
    height: 100px;
    background-image: url(images/bg-pattern-card.svg);
    width: 109% !important;
    margin-left: -12px !important;
    }

div.profile-main img.face{
    height: 85px;
    width: 85px;
    border-radius: 50px;
    display: block;
    margin: 0px auto;
    margin-top: -40px;
    border: 4px solid white;    
}

.london{
    padding-top: 10px;
    padding-bottom: 6px;
     text-align: center;
     color: black;
     font-size: 16px;
}

.followers{
    border-top: 1px solid hsl(0, 0%, 59%);
    display: flex;
    justify-content: center;
}

.sections{
    /* border: 2px solid black; */
    width: 80px;
    text-align: center;
    margin-top: 12px;
    margin-right: auto;
    margin-left: auto;
    
}

span{
    color: hsl(0, 0%, 59%);
}