.body{
    padding: 0;
    margin: 0;
    font-size: 14px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: transparent;
}

.padding{
padding-top: 20px;
}


.h2{
    font-size: 24px !important;
    font-weight: 600 !important;
    color: white !important;
}


li{
    list-style-type: none;
    font-size: 12px;
    font-weight: 400;
    color: white;
}

.navli{
    display: flex;
    justify-content: space-between;
    flex-basis: 280px;
}

main{
    height: 100vh;
    background-image: url(images/desktop/image-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.iet{
    position: absolute;
    top: 28%;
    color: white;
    padding: 15px;
    font-size: 38px;
    font-weight: 100 !important;
    border: 2px solid white;
    width: 370px;
    text-transform: uppercase;
}

img{
    height: 65vh;
    width: 54vw;
    
}

.section2{
    margin-top:70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* border: 2px solid blue; */
}

.itext{
    padding-left: 210px;
    background: rgb(255, 255, 255);
    flex-basis: 300px;
    font-size: 10px;
    height: 300px;
    padding: 20px;
    transform: translate(-70px, 150px);
    flex-grow: 1;
}

.itext p{
    width: 360px;
    padding-left: 20px;
    font-size: 16px;
}


.itext h5{
    font-weight: 400 !important;
    width: 253px;
    font-size: 32px;
    padding-left: 20px;

}

.section3{
    margin-top:70px;
    margin-bottom: 10px;
}

.our{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}



.imgsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.imgsec img{
/* flex-grow: 6; */
width: 250px;
height: 400px;
}

.imgsec p{
    color:white;
    transform: translateY(-40px);
}

button{
    height: 30px;
    width: 100px;
    background: transparent;
    border: 1px solid black;
    outline: none;
    color: black;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 4px #888888;}

button:hover {
background: black;
color: white;
}

footer{
    background: black;
    width: 100vw;
    height: 140px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footsec1{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.footsec2{
    display: flex;
   justify-content: space-between; 
       color: white;
}

.footabc{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-basis: 300px;
}

.footabc p{
    font-size: 14px !important;
    font-size: 900 !important;
}

@media screen and (max-width:770px){
    .itext{
        transform: translate(0px,0px);
    }

    img{
        width: 93vw;
    }
    }

@media screen and (max-width:500px){
    
    .navbar{
        flex-direction: column;
    }

    .navli{
        display: flex;
        padding-top: 10px;
        flex-direction: row;
        width: 60%;

    }
    
    main{
        height: 80vh;   
    }

.iet{
    font-size: 24px;
    width: 300px;
    left: 16%;
    top: 34%;
}

img{
    width: 400px;
    height: 340px;
    margin-left: 40px;
    object-fit: cover;
}

.itext{
    transform: translate(0px,0px);
    margin-bottom: -40px;
}

.our{
    flex-direction: column;
    align-items: center;
}



.imgsec img{
    width: 350px;
    height: 100px;
    object-fit: cover;
    flex-direction: column;
    align-items: center;
    }

    .imgsec{
        flex-direction: column;
        align-items: center;
        transform: translateX(-15px);
        margin-top: 30px;
    }
    .imgsec p{
        margin-left: 50px;
    }

    .footsec1, .footsec2{
        justify-content: space-around;
    }
}